body{
    background: greenyellow;
    user-select: none;
}

.contaner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:4px;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: "Tahoma";
}
.item{
    background-color: cadetblue;
    color: black;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}
form{
    max-width: 100%;
}
input{
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}
.input{
    grid-column: 1/-1;
    padding: 0;
}

.clean{
    grid-column: 1/3;
    background-color: blue;
}
.back{
    grid-column: 3/-1;
    background-color: limegreen;
}
.equal{
    grid-column: 4;
    grid-row: 6/8;
    background-color:darkslategrey;
}
.zero{
    grid-column:1/3;
}