body{
    background-image: url(./image/photo-math.jpg);
}
.wrap{

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
}

.wraper{
    height: 250px;   
    width: 300px;
    background: floralwhite;
    border: 3px double brown;
    
}