.text
{
font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}
 
 /*index */
 *{
margin: 0px;
padding: 0px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1922px;
}


.header {     
    display: flex; 
    flex-direction: row;
    justify-content: center;    
    min-height:110px;    
}
.hd{
    width: 100%;
    max-width: 1450px;     
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;  
     flex-wrap: wrap;   
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    font-size: 40px;
}
.info{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin:30px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start:10px;
}

.nav .nav1 a {
    margin:20px 20px  10px 0px;
    padding: 20px 20px  10px 0px;
}


#srch{
    height: 38px;
    width:90%;
}
#btn1{
    border: 1px solid black;
    background: #dd6c34;
    max-height: 38px;
    width: 10%;
}

.fm{
    display: flex;
    flex-direction: row;
}


 ul {
    display: flex;
    flex-direction: row;

}
span{
    color:#dd6c34;
    font-weight: 600;
}

.section1{    
    position: relative;
    background-repeat: no-repeat;
    height:auto;
    width:100%;   
    background-size: cover; 
    z-index: +1;
    

} 

.croks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
} 
.crokss{  
    max-width: 1450px;
    width: 100%;
    margin-top: -180px;
    position: relative;
    z-index: 3;
    display:grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    grid-auto-rows:90px;
    
    
       
}
.crok{
    width: 100%;
    height: 100px;
    background: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.imgaut{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.section2{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.imgava{

}
.section3{   
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}


.section4{   
    height: 495px;  
    background: #f5f5f5;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.adv{
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
      grid-auto-rows: 190px;
      grid-gap: 20px;
      width: 100%;
      max-width: 1450px;
      align-items: center;
      align-content: center;

     
}
.box {
    height: 190px;   
    background: #dd6c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box:hover{
    background: #fff;
    color: black; 
}

    .Modal {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: rgba(0,0,0,0.7);
        pointer-events: none;
    }
    .Modal:target {
        display: flex;
        pointer-events: auto;
    } 
    .Modal_Body {
        position: relative;
        z-index: 2;
        display: block;
        margin: auto;
        padding: 15px;
        background: #FFF;
        max-width: 50%;
    }
    .ModalFull {
      position: absolute;
      display: block;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

#hider {
position: absolute;
top: -9999px;
left: -9999px;
}
#hider:checked + .content {
display: block;
}
#clickme {
text-decoration: underline;
color: blue;
cursor: pointer;
}

.content {
margin-top: 10px;
display: none;
}
    
.coll{
    display: grid;
    width: 97%;
    max-width: 1450px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 150px;
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
   
 
    }

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    margin: 10px;
}

.section5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    margin-top:50px;
    background-image:url(../images/about.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
}
.abt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about p {
    min-width: 340px;
    width: 80%;
    color:#fff;
    text-align:center;
}

.about h3 {
    color:#fff;
}

    

.marka1{    
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    width: 97%;
    max-width: 1450px;
    grid-auto-rows: 50px;
    grid-gap: 20px; 

}

.mr{    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.mr1{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
   height: 100%;
  
    
}

.mr2{
    text-align: center;
    
    width: 100%;
    height: 100%;
    border: 1px solid rgb(212, 182, 182);
    display: inline-block;
    -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mr2:hover{
    color: #fff;
    background: red;
    border: 1 px solid #f5f5f5;
    transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
}


.social{
    max-height: 92px;
    background: #332f2e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.footer{
    max-height: 55px;    
    background:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 
h2 {
    margin: 50px;
}
a{    
    text-decoration: none;
} 


/* produckt */
.clog{
    width: 50%;
    display: flex;
    flex-direction: row;
    
    

}
.catalog{
    max-width: 725px;
     
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: flex-end; 
    
    
   
}
.catal{
/*     
        width: 0;
        height: 0;
        border-top: 70px solid transparent;
        border-left: 140px solid #ff5a00;
        border-bottom: 70px solid transparent; */
    
    
    display: flex;
    justify-content: center;
    
    
    width: 50%;
    flex:3;
    background: darkgray;
}
.cat{
    width: 100%;
    display: flex;
    justify-content: center;
    background:#dd6c34;
    flex:1;
}
.products{
    
    height: 600px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
    
.blck{
    max-width: 1450px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block1{
    flex: 1;
    width: 300px;
    background: #dd6c34;
}
.form{
    min-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,40px);
    grid-gap: 40px;
    
}

.block2{
    flex: 2;
    
   
    
}
 .models1:nth-child(1){
    
    grid-column: 1/-1; 

}
.models{
    border: 1px solid firebrick;
    width: 100%;
    max-height:100px;
}
.md{
    display: grid;    
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows:repeat(4,90px);
    grid-gap: 20px;
}

.forauto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fBMW{
    
    max-width: 1450px;
    width: 100%;
    display: grid;
    
    
    grid-template-columns: 1fr  1fr;
    grid-gap: 20px;
}
.item{
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pay1{
    flex: 1;
        

}
.pay2{
    flex: 1;
}
    
.pay3{
        flex: 1;
}

#btn {
    background: #dd6c34;
    color: #fff;
    
}
 













 @media only screen and (max-width: 600px){
   

#srch{
    height: 26px;
    width: 100%;
}

.crokss{  
    max-width: 450px;
    width: 100%;
    margin-top: 30px;    
    display:grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows:90px; 
       
}
.fBMW{
    
    
    width: 100%;
    display: grid;
    
    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}
}